<div class="section">
    <h1 class="main-heading">Upload Your Custom Cake Ideas</h1>
    <p>Upload one Small and Large Picture down below:</p>
    <div class="line-item-property\_\_field"> 
        <label for="custom\_photo">Photo width below 500px</label> 
        <input required id="custom\_photo" type="file" name="properties\[Photo\]"> 
    </div>
    <div class="line-item-property\_\_field"> 
        <label for="custom\_photo">Photo width above 500px</label> 
        <input required id="custom\_photo" type="file" name="properties\[Photo\]"> 
    </div>
    
</div>

{% schema %}
  {
  "name": "new upload form",
  "tag": "section",
  "class": "section",
  "presets": [
    {
      "name": "New upload Form"
    }
  ]
}
{% endschema %}

//
    function verifyFileUpload(e)
    if ( file && files.length > 500)  //
